<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche</title>
    <link rel="stylesheet" type="text/css" href="../css/search.css">
    
    <form method="get" role="search">
        <label for="TypeRecherche" class="sr-only">Sélectionner le type de recherche</label>
        <select id="TypeRecherche" name="TypeRecherche">
          <option value="acteur">Acteur</option>
          <option value="film">Film</option>
        </select>
        <br>
        <br>
        <label for="recherche" class="sr-only">Recherchez un acteur ou un film</label>
        <input id="recherche" name="recherche" type="search" placeholder="Entrez un nom" autofocus required />
        <button type="submit">GO</button>    
      </form>

</head>
<body>
